/* ===== CSS NÃO CRÍTICO MOBILE - Below-the-fold =====
   Estilos para conteúdo que aparece após o scroll inicial */

@media (max-width: 768px) {
    /* Seção Sobre */
    div#textReal {
        width: 90%;
        border-top: 0.5px solid rgba(255, 255, 255, 0.393);
        border-right: 0.5px solid rgba(255, 255, 255, 0.393);
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.393);
    }
    /* Seção Skills */
    main .Stack .painelSkills {
        min-height: 500px;
        display: flex;
        align-items: start;
        margin-left: 15px;
        flex-flow: column nowrap;
    }

    /* Títulos e separadores */
    div#separar>h1 {
        font-size: 41px;
    }

    div#separar>img {
        width: 100px;
        height: 100px;
    }

    /* Projetos */
    div#projetosD {
        width: 90%;
        flex-flow: column nowrap;
    }

    div#projetosD>img {
        width: 100%;
    }

    div#projetosD>img#formIMG {
        width: 100%;
    }

    div#projetosD>img#JogoImg {
        width: 100%;
    }

    figure {
        flex-flow: row wrap;
    }

    section#site-projeto {
        width: 100%;
    }

    h1#hLan {
        font-size: 43px;
    }

    h1#hLDJogos {
        font-size: 30px;
    }

    /* Skills section */
    section#abaSkills {
        width: 90%;
    }
    
    .hidden {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0px);
    }
    
    section#abaSkills>div#iconesSkil>img {
        width: 90%
    }
    /* Formulário de Contato */
    .form-textarea {
        padding: 14px;
        width: 90%;
        font-size: 14px;
    }
    
    body.light-mode .form-textarea {
        padding: 0px;
    }

    /* Footer */
    div.final {
        width: 90%;
        flex-flow: column nowrap;
    }

    div.final>span {
        padding: 5px;
    }

    div.meio {
        width: 100%;
    }

    section#umaRede {
        margin-left: 20px;
        font-size: 4vw;
    }

    div.final>h1 {
        display: none;
    }

    /* Seções de projetos e jogos */
    div#pararUmPouco {
        width: 90%;
        display: flex;
        flex-flow: column nowrap;
        height: 250px;
    }

    section#desaf {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: start;
        border-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    section#desaf>img {
        width: 50px;
        margin-left: 5px;
        border: 0px solid white;
    }

    section#mais {
        width: 50%;
        font-size: 17px;
        transition: none;
    }

    section#mais:hover {
        width: 50%;
    }

    section#ConfiraTambem {
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    div#Flutuante {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center
    }
    
    div#Flutuante > img {
        height: 80px;
    }
    
    section#ConfiraTambem > h1 {
        margin: 0px;
        padding: 0px;
        border: 0px solid white;
        border-radius: 25px;
        font-size: 15px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Seção Acadêmica */
    div#Academicos {
        width: 90%;
        height: 700px;
        display: flex;
        flex-flow: column-reverse nowrap;
        padding: 0px;
        align-items: center;
        justify-content: center;
    }

    div#Conhecer {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    div#Conhecer>p {
        width: 80%;
        margin-top: 10px;
        text-align: center;
    }

    h1#ProJ {
        text-align: center;
    }

    div#SkillDeco>img {
        width: 100px;
    }

    div#SkillDeco {
        transform: translateY(0px);
        width: 100%;
    }
}

